<h1>Listing salutations</h1>

<table>
  <tr>
    <th>Pattern</th>
  </tr>

<% for salutation in @salutations %>
  <tr>
    <td><%=h salutation.pattern %></td>
    <td><%= link_to 'Show', salutation %></td>
    <td><%= link_to 'Edit', edit_salutation_path(salutation) %></td>
    <td><%= link_to 'Destroy', salutation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New salutation', new_salutation_path %>
