<h1>New salutation</h1>

<% form_for(@salutation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pattern %><br />
    <%= f.text_field :pattern %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', salutations_path %>
